body {
  /*background: url("/static/images/Texture3_TradingCard.png") black no-repeat center center fixed;*/
  background: url("/static/images/FormBackground.png") black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
  text-align: center;
  padding: 2%;
  font-family: 'Ubuntu', sans-serif;
}
.content {
  position: absolute;
  width:80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.enemy {
  position: relative;
  left: 0;
  right: 0;
  /*margin: auto;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 1%;
  width: 75%;
  font-size: 20px;
  color: #ffd57b;
  background: rgba(0,0,0,.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 5px;
  /*border: 3px solid black;*/
}

.player {
  position: relative;
  left: 0;
  right: 0;
  /*bottom: 3%;*/
  margin: auto;
  width: 75%;
  color: white;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  /*border: 3px solid black;*/
}

.enemy_board {
  display: flex;
  height: auto;
  width: 70%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.player_board {
  display: flex;
  height: auto;
  width: 70%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.board {
  position: relative;
  left: 0;
  right: 0;
  /*top: 10%;*/
  margin: auto;
  width: 80%;
  /*background: rgba(0, 106, 151, 0.5);*/
  /*border: 3px solid black;*/
}

.hand {
  display: flex;
  height: auto;
  width: auto;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.end_button {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.play_button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
}
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {

  outline: 2px solid #18e4ff;
}

/* HIDE SUBMIT */
[type=submit] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=submit] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=submit]:checked + img {

  outline: 2px solid #18e4ff;
}


img {
  height: 250px;
}

.empty_slot {
  opacity: 60%;
}

.thatoneimage {
  height: 85px;
  border-radius: 15%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgb(255, 225, 151);
}

.thatoneimage:hover {
  color: rgb(255, 209, 117);
  box-shadow: 0 5px 10px rgb(255, 225, 151);
}