body {
  background: url("/static/images/Texture3_TradingCard.png") black no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto 100%;
}
.enemy {
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  background: antiquewhite;
  border: 3px solid black;
}

.player {
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  background: antiquewhite;
  border: 3px solid black;
}
