<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/card.css') }}" />
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<div class="card-container">
    <div class="stats">
        <div class="ap">{{ card.ap }}</div>
        <div class="cost">{{ card.cost }}</div>
        <div class="hp">{{ card.hp }}</div>
    </div>
    <img src="/static/images/{{ card.name }}.jpg">
</div>
</body>
</html>